*{
	margin: 0px;
	padding: 0px;
}

form{
	width: 470px;
	height: 300px;
	background: #922B21;
	/*background: #FB4B2B;*/
	margin: auto;
	margin-top: 100px;
	padding: 30px;
	border-radius: 10px;
}

#img{
	width: 150px;
	background: #D0ECE7;
	border-radius: 100px;
	margin-top: -85px;
}

#iniciar{
	font-family: Arial;
	font-size: 24px;
	margin-left: 500px;
	margin: auto;
	color: white;
}

#usuario{
	width: 100%;
	height: 32px;
	text-indent: 48px;
	font-size: 16px;
	transition: all 200ms cubic-bezier(0,0,0,0);
	border-style: none;
	position: relative;
	top: 10px;
}

.imgImpText input[type=text]{
	position: relative;
}

.imgImpText i{
	position: absolute;
	top: 265px;
	margin-left: 5px;

}

#usuario:focus{
	background: #D0ECE7;
	color: red;
	border-style: none;
	transition: all 200ms cubic-bezier(0,0,0,0);
  
}

#contraseña{
	width: 100%;
	height: 32px;
	text-indent: 48px;
	font-size: 16px;
	transition: all 200ms cubic-bezier(0,0,0,0);
	border-style: none;
	position: relative;
	top: 10px;
}

.imgImpPass input[type=password]{
	position: relative;
}

.imgImpPass i{
	position: absolute;
	top: 318px;
	margin-left: 10px;

}

#contraseña:focus{
	background: #D0ECE7;
	color: red;
	border-style: none;
	transition: all 200ms cubic-bezier(0,0,0,0);

}

#iniciar-button{
	width: 100%;
	height: 38px;
    position: relative;
    top: 13px;
    font-size: 18px;
}

#registro{
	position: relative;
	top: 40px;
	text-align: center;
	color: white;
	font-family: Arial;
	font-size: 17px;

}

.campo{
	border:solid 4px #cece76;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 35px;
	width: 300px;
}

@media screen and (max-width: 550px) {

	form{
		width: 70%;
	}
	
}