body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	color: white;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 0px 90px;
	box-sizing: border-box;
	transition: .3s;
	background-color: #3d3d5c;
	font-family: Arial;
	color: white;
	font-size: 18px;
	/*border-radius: 10px;*/
}

 #BienvendidaUsuario{
    width: 1200px;
    height: 320px;
 	margin: 80px;
 	margin-right: 0px;
 	margin-left: 70px;
 	text-align: center;
 	background-color: #922B21;
 	border-radius: 10px;
 	padding: 20px;
 }

#BienvendidaUsuario h1{

	text-align: center;
	margin: 50px;
	margin-top: 40px;
}

 #paginaContacto h1{

	text-align: center;
	margin: 50px;
	margin-top: 40px;
}

#paginaContacto{
	width: 1200px;
    height: 400px;
 	margin: 80px;
 	margin-right: 0px;
 	margin-left: 70px;
 	text-align: center;
 	background-color: #922B21;
 	border-radius: 10px;
 	padding: 15px;

}


nav.black{
	background: rgb(0,0,0,0.8);
	height: 100px;
	padding: 10px 100px;
}

nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	transition: .3s;s
}

nav.black .logo{
	color: #fff;
}

nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	line-height: 60px;
	color: white;
	padding: 20px 50px;
	/*margin-right: 150px;*/
	text-decoration: none;
	/*text-transform: uppercase;*/
	transition: .3s;
}

nav.black ul li a{
	color: #fff;
}

nav ul li a:focus{
	outline: none;
}

nav ul li a:hover{
  cursor: pointer;
  background:#922B21;
  border-radius: 10px;
  width: 20px;
  height: 10px;
}

#imgGif{
	top: 0px;
    width: 120px;
    height: 100px;
    margin-top: -40px;
}

#list{
	position: relative;
	width: 400px;
	height: 250px;
	background-color: #3d3d5c;
	margin: 70px;
	top: 0px;
	text-align: center;
	margin-left: 640px;
	margin-bottom: 40px;
	margin-top: -300px;
	padding: 15px;
}

#list ul li a{
	color:red;
}

#foto img{
	width: 320px;
	position: relative;
	margin-right: 700px;
	height: 290px;
	margin-top: -50px;
	padding: 15px;

}

#capa3{
    width: 550px;
    height: 250px;
 	margin: 70px;
 	margin-right: 0px;
 	margin-left: 70px;
 	text-align: center;
 	background-color: #922B21;
 	border-radius: 10px;
 	padding: 20px;
 	margin-top: -60px;
 }

 table{
 	background: #3d3d5c; 
 	width: 400px;
 	height: 200px;
 }

 table th{
 	background-color: #922B21;
 } 

 table li{
 	background-color: #3d3d5c; 
 }

 #capa4{
    width: 555px;
    height: 800px;
 	margin: 40px;
 	margin-right: 0px;
 	margin-left: 700px;
 	text-align: center;
 	background-color: #922B21;
 	border-radius: 10px;
 	padding: 20px;
 	margin-top: -358px;
 }

 #capa4 p{
 	background-color: #3d3d5c;
 	width: 550px;
 	height: 170px;
 	padding: 9px;
 }

 #capa4 img{
 	width: 400px;
 	height: 400px;
 }

 #capa5{
    width: 550px;
    height: 250px;
 	margin: 70px;
 	margin-right: 0px;
 	margin-left: 70px;
 	text-align: center;
 	background-color: #922B21;
 	border-radius: 10px;
 	padding: 20px;
 	margin-top: -565px;
 }
